
#mainBlok {
	width: 1000px;
	height: 1200px;
	background-color: white;
	margin: 0px auto;
	border: 1px solid black;
}

#header {
	width: 1000px;
	height: 150px;
	background-color: grey;
	float: left;
	
}
h1 {
	padding: 20px;
}

#content {
	width: 1000px;
	height: 860px;
	float: left;
	padding: 20px;
}
#footer {
	width: 1000px;
	height: 150px;
	background-color: grey;
	float: left;
}