*{
	margin: 0;
	padding: 0;
}

h1{
	padding: 20px 0px;
	color: red;
	font-family: calibri;
}

h2{
	padding: 10px 0px;
	color: grey;		
	font-family: calibri;
}

p{
	padding: 5px 0px;
}

.pLinks{
	margin: 20px;
	width: 140px;
	float: left;
	height: 140px;
}
.pLinks div{
	width: 150px;
	height: 100px;
}

.pLinks a{
	margin-top: 15px;	
}

.imageRow{
	width: 550px;
	height: 360px;
}

/*CSS voor opdracht 6*/
table, td, th{
	border: 1px solid black;	
}

td, th{
	padding: 10px;	
}

table{
	margin-top: 10px;
	margin-bottom: 10px;
}

td:nth-child(even){
	background-color: lightgray;
}

th:nth-child(odd){
	background-color: yellow;
}
