body{
	
}
h1{
	color: red;
	font-family: calibri;
}
h2{
	color: grey;		
	font-family: calibri;
}
.pLinks{
	display: inline-flex;
	margin: 20px;		
}
.pLinks a{
	width: 100%;
}
.pLinks a img{
	float: left;	
}
a p{
	margin-top: 105px;	
}
.imageRow{
	width: 100%;	
	display: inline-flex;
}


/*CSS voor opdracht 6*/
table, td, th{
	border: 1px solid black;	
}

td, th{
	padding: 10px;	
}

table{
	margin-top: 10px;
	margin-bottom: 10px;
}

td:nth-child(even){
	background-color: lightgray;
}

th:nth-child(odd){
	background-color: yellow;
}


